@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap');

body{
    background-image: url(images/old-library-wallpaper.jpg);
    background-size: fill;
    background-repeat: no-repeat;
    background-position: left;
    margin: 0;
}

#header{
    display: grid;
    grid-template-columns: 1.5fr 2fr;


    background-color: rgba(0, 0, 0, 0.473);
    width:100%;
    height:fit-content;
    position: sticky;
}

#header-logo{
    font-family: "Goudy Bookletter 1911", serif;
    display: flex;
    gap:10px;
    padding-left: 5%;
    align-items: center;
    justify-content: flex-start;
    color:white;
}

#header-logo:hover{
    cursor: pointer;
    filter: brightness(80%);
}

#h-title{
    font-size: 3rem;
}

#h-icon{
    font-size: 4rem;
}

#page-content{
    display: flex;
    flex-direction: column;
    margin: 0;
}

#Page-Header{
    margin-left: auto;
    margin-right: auto;
    color: white;
}

#Library{
    padding-left: 5%;
    padding-right: 5%;
    display: grid;
    grid-template-rows: repeat(fit-content, min(240px));
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap:20px;
}

.book{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    text-align: center;
    height: 200px;
    box-shadow: 4px 25px 15px -3px rgba(0,0,0,0.17);
}

.b-title{
    padding: 15px;
    margin: 5px 0 0 0;
}

.b-author{
    margin: 0;
}

.b-pages{
    margin: 5px;
}

.b-status{
    margin: 0px 0 10px 0;
}

.primary-btn{
    width:150px;
    margin: 30px auto 0 auto;
    border: none;
    background-color: blanchedalmond;
    height:30px;
    border-radius: 20px;
    font-family: "Goudy Bookletter 1911", serif;
    font-size: 20px;
    font-weight: bold;
}

.primary-btn:hover{
    cursor: pointer;
    filter: brightness(80%);
}

#form-dialog{
    border-radius: 20px;
    background-color: rgb(70, 19, 19);
}

#new-book-form{
    display: flex;
    margin: 30px auto 0 auto;
    flex-direction: column;
    width: 300px;
    align-items: flex-start;
    gap: 10px;
}

.input-label{
    color: white;
    font-size: 1.6rem;
}

.input-text{
    border-radius: 10px;
    border: none;
    font-size: 1.5rem;
    padding-left: 5px;
}

#input-status{
    height: 25px;
    width: 25px;
}

.btn-group{
    margin-left: auto;
    margin-right: auto;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#cancel-book{
    margin-top: 10px;
    background-color: rgb(255, 64, 64);
    color: white;
    text-align: center;
}


