body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

h1{
    color:black;
    text-align: center;
}

#game-start{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    height: 300px;
    background-color: gray;
    border-radius: 20px;
}

#player-names-form{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    margin-bottom: 10%;
}

#P1-input{ 
    grid-area: 1/ 1/ 2/ 2;
}

#P2-input{
    grid-area: 1/ 2/ 2/ 3;
}

#startBtn{
    grid-area: 2/ 1/ 3/ 3;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
}

.player-info{
    display: flex;
    flex-direction: column;
}

.name-input{
    width: 60%;
    border-radius: 10px;
    border: none;
    padding: 5px;
    align-self: center;
}

#main-board{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    outline: 5px solid white;
    outline-offset: -5px;
}

.cell{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    border: 1px solid black;
}

.cell:hover{
    filter: brightness(70%);
    cursor: pointer;
}

