body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

h1{
    color:black 
}

#main-board{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    outline: 5px solid white;
    outline-offset: -5px;
}

.cell{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    border: 1px solid black;
}

.cell:hover{
    filter: brightness(70%);
    cursor: pointer;
}

span{
    margin: auto;
}
