body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#main-body{
    width:fit-content;
    height:fit-content;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    background-color: darkgray;
    margin:0 auto 0 auto;

    display: flex;
    flex-direction: column;
}

#display{
    width: 90%;
    height: 65px;
    padding: 5px 10px 5px 10px;
    margin: 15px 10px 10px 10px;
    align-self: center;
    text-align: right;
    font-size: 60px;

    background-color: white;
}

.buttons{
    display: flex;
    align-self: center;
    user-select: none;
}

.buttons:hover{
    cursor: pointer;
}

#num-btns{
    align-self: center;
    width:300px;
    display: flex;
    flex-wrap: wrap;
}

.num-button{
    width: 80px;
    height: 80px;
    background-color: lightblue;
    border-radius: 20px;
    margin:10px 10px 10px 10px;

    font-size: 60px;
    text-align: center;
    vertical-align: center;
    line-height: 80px;
}

.num-button:active{
    background: rgb(19, 107, 136) !important;
}

#operator-btns{
    display: flex;
    flex-direction: column;
    user-select: none;
}

.op-button:active{
    background: rgb(139, 139, 139);
}

#clear-btns{
    display: flex;
    flex-direction: column;
}

.op-button{
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 80px;
    margin:10px 10px 10px 10px;


    font-size: 60px;
    text-align: center;
    vertical-align: center;
    line-height: 80px;
}

#equal{
    align-self: center;
    width: 200px;
    text-align: center;
    display: block;
}



