form{
  margin: 10% auto 0 auto;
  display: flex;
  flex-direction: column;
  gap:20px;
  width:500px;
  background-color: rgba(0, 0, 0, 0.185);
  border-radius: 30px;
  padding: 30px;
}

form > button{
  width:30%;
  align-self: center;
}

.error.active{
  color:red;
}